<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>{{ title }} | {{ site_title }}</title>
  <link href="/css/main.css" rel="stylesheet" type="text/css" media="screen"/>
  <link href="/css/print.css" rel="stylesheet" type="text/css" media="print"/>
  <link href="inc/rss.xml" rel="alternate" type="application/rss+xml" />
</head>
<body>
  <div id="retainer">
    <div id="container">
      <div id="wrapper">
        <div id="left-column">
          {% include "navigation.liquid" %}
        </div>
        <div id="middle-column">
          <div id="update" class="slide-up">
            {% include "updates.liquid" %}
          </div>
          <div id="update-control">
            <a name="top" style="cursor:pointer">Updates</a>
          </div>
          <div id="centerimage">  
            <img src="{{ image }}" alt="Albert Volkman and Kendall Dupree wedding" title="Albert Volkman and Kendall Dupree wedding"/>
          </div>
          <div id="breadcrumb">
            <p><a href="/">Home</a> &#8250; {{ title }}</p>
          </div>
          <div id="content">
            <h1>{{ title }}</h1>
            {{ content }}
          </div>
          <div id="quote">
            <h4>&nbsp;</h4>
          </div>
          <div id="footer">  
            <a href="#top">Top of the page</a> | <a href="/sitemap.xml">Sitemap</a> | <a id="countdown" href="/day/"></a>
            <p>Copyright &copy; 2007 Albert Volkman &amp; Kendall Dupree.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/js/script.js"></script>
</html>
